
/* installed fonts */

@font-face {
    font-family: Pretendard;
    font-weight: 45 920;
    font-display: swap;
    src: url("css/fonts/PretendardVariable.ttf");
  }

@font-face {
    font-family: Wackwriting;
    font-weight: 45 920;
    font-display: swap;
    src: url("css/fonts/Wackwriting1-Regular.ttf");
}

/* - */


ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
.inline-flex {
  display: inline-flex;
}


*{
    margin: 0;
    padding: 0;
    font-family: Pretendard;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    line-height: 1.5;
}

body {
    font-family: Pretendard;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


/**/

.container {
    max-width: 1200
px;
    margin: 0 auto;
    
    width: 85%;

    padding: 10px 0;
  }

/**/








/* - */
a {
  color: inherit;
}

a img {
  border: none;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 1.5rem 0 1rem;
}




#header{
    width: 100%;
    height: 100vh;
    background-image: url(theimages/person.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
} 


h1 {
    font-family: Wackwriting;
    font-weight: 900;
    font-size: 6em;
    font-feature-settings: "lnum" 1;
    font-variation-settings: "opsz" 35;
    line-height: 1;
    margin: 
    1.5rem 0 0rem;
  }

h2 { 
    font-family: Wackwriting;
    font-weight: 900;
    font-size: 2em;
    font-feature-settings: "lnum" 1;
    font-variation-settings: "opsz" 35;
    line-height: 1;
    margin: 
    1rem 0 1rem;
}

.subtitle {
  font-weight: 200;
  font-size: 1rem;
}




.cool-link {
  color: #9cb5ff;
  transition: color 0.1s, background-color 0.1s;
  background-color: #2563eb33;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.16em 0.3em;
  margin: -0.2em 0;
  line-height: 1.7;
  white-space: nowrap;
}

.cool-link:hover {
  color: #6596ff;
  background-color: #3b82f633;
}

/*.subtle-link {
  color: currentColor;
  transition: color 0.1s, background-color 0.1s;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.02em 0.2em 0.14em;
  margin: -0.02em -0.2em -0.14em;
}

.subtle-link:hover {
  color: currentColor;
  background-color: #3b82f633;
}*/
























  



/* photogallery */

.photo-gallery {
  /* Enable multi-column layout */
  column-count: 4; /* Change the number of columns as needed */
  column-gap: 10px; /* Adjust the gap between columns */
}

.photo {
  margin-bottom: 20px; /* Add some space between images */
  break-inside: avoid; /* Prevent images from breaking across columns */
}

.photo img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/*
.container{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.photo-gallery{
  display: flex;
  gap: 20px;
}
  .column{
  display: flex;
  flex-direction: column;
  gap: 20px;
  }
  .photo img {
    width: 100%;
    display: block;
    border-radius: 5px;
  
    object-fit: cover;
  } 
  */





  .random-image {
    position: fixed;
    bottom: -10px;
    right: -25px;
/*    border: 1px solid #ccc;*/
 /*   border-radius: 5px; */
    padding: 1%;
    max-width: 30%; 
    max-height: 100%; 
    overflow: hidden; /* hide overflowing content */
  }
  
  .random-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintain aspect ratio while covering container */
  }
  


/* config for smaller screens */

  @media screen and (max-width: 768px) {
    .random-image {
        /* Adjust the values for smaller screens */
        bottom: -5%;
        right: -5%;
        padding: 2%;
        max-width: 50%;
        max-height: 50%;
    }
}


  

  /**/